.modal__error {
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f0f9;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  position: absolute;
  display: ;
  top: 128px;
  left: 29%;
}

.modal__error-text--wrong {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #6e6893;
}

.close {
  top: 26px;
  right: 29px;
}
